.vp-stack-layout {
  display: flex;
  min-width: 0;
  box-sizing: border-box;
  gap: var(--vp-stack-gap, var(--spacing-md));

  &--block {
    width: 100%;
  }

  &--inline {
    display: inline-flex;
    width: auto;
  }

  &--vertical {
    flex-direction: column;
  }

  &--vertical.vp-stack-layout--reverse {
    flex-direction: column-reverse;
  }

  &--horizontal {
    flex-direction: row;
  }

  &--horizontal.vp-stack-layout--reverse {
    flex-direction: row-reverse;
  }

  &--divider.vp-stack-layout--vertical > :not(:last-child) {
    padding-block-end: var(--vp-stack-gap);
    border-block-end: 1px solid var(--ds-border);
  }
  &--divider.vp-stack-layout--horizontal > :not(:last-child) {
    padding-inline-end: var(--vp-stack-gap);
    border-inline-end: 1px solid var(--ds-border);
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &:not(.vp-stack-layout--wrap) {
    flex-wrap: nowrap;
  }

  &--align-start {
    align-items: flex-start;
  }

  &--align-center {
    align-items: center;
  }

  &--align-end {
    align-items: flex-end;
  }

  &--align-stretch {
    align-items: stretch;
  }

  &--align-baseline {
    align-items: baseline;
  }

  &--justify-start {
    justify-content: flex-start;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--justify-space-between {
    justify-content: space-between;
  }

  &--justify-space-around {
    justify-content: space-around;
  }

  &--justify-space-evenly {
    justify-content: space-evenly;
  }
}
