.vp-fixed-layout {
  box-sizing: border-box;

  &--fixed {
    position: fixed;
  }

  &--absolute {
    position: absolute;
  }

  &__placeholder {
    box-sizing: border-box;
    flex-shrink: 0;
    pointer-events: none;
    visibility: hidden;

    &--top,
    &--bottom {
      display: block;
      width: 100%;
    }

    &--left,
    &--right {
      display: block;
      align-self: stretch;
    }
  }
}
