.vp-form {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-sm);
  color: var(--text-primary);

  &--label-top {
    .vp-formitem {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &--label-left {
    .vp-formitem__label {
      text-align: right;
    }
  }
}
